<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.engineeringthesis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:parentActivityName=".CategoryActivity" />
        <activity
            android:name=".CategoryActivity"
            android:parentActivityName=".LanguageActivity" />
        <activity
            android:name=".LanguageActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TeacherRegisterActivity" />
        <activity android:name=".ChildRegisterActivity" />
        <activity
            android:name=".FindOutPictureActivity"
            android:configChanges="screenSize"
            android:parentActivityName=".GameActivity" />
        <activity
            android:name=".TeacherSelectionActivity"
            android:parentActivityName=".LanguageActivity" />
        <activity
            android:name=".DragAndDropActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".GameActivity" />
        <activity
            android:name=".FindOutVocabularyActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".GameActivity" />
        <activity android:name=".TeacherAddResourcesActivity" />
        <activity android:name=".TeacherMyAccountActivity" />
        <activity android:name=".ChildMyAccountActivity" />
        <activity
            android:name=".SelectAndAdjustActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".GameActivity" />
        <activity
            android:name=".MemoryGameActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".GameActivity" />
        <activity android:name=".TeacherAddCategoryActivity" />
        <activity android:name=".TeacherAddAudioActivity" />
        <activity android:name=".TeacherAddImageActivity" />
        <activity android:name=".TeacherAddWordActivity" />
        <activity
            android:name=".WinViewActivity"
            android:parentActivityName=".GameActivity" />
        <activity android:name=".AdminDeleteAccountsActivity" />
        <activity android:name=".ChildResultsActivity" />
        <activity android:name=".ChildButtRankActivity" />
        <activity android:name=".ChildRankGameActivity"/>
    </application>

</manifest>